Objective:
 
We initially believed there is likely to be an association with deprivation levels and rates of injury. We will do this by comparing 1 month of NHS maternity dataset - trauma reported to the deprivation deciles at birth and observe if there is a positive correlation from there.

After doing exploratory data analysis we found there was a weak negative correlation between deprivation levels and injury rates, finding richer areas were more likely to incur injuries while giving birth.

Scope creep - From this the objective has changed, we will thoroughly analyse almost every element of the NHS maternity dataset to see if we can find what factors influence injury rates the most.

Accounting for misreporting:

From previous analysis we are aware there is misreporting of trauma data, with some trusts reporting that they have no trauma in their maternity wards.
There are other missing values and misreportings among the other elements of the dataset but it is not possible to filter this out unless analysing the data on a more granular scale. This scope creep will be avoided as otherwise the analysis will never finish and will likely result in the data being so incomplete nothing can be drawn from it.

Due to the offical nature of the reporting it is highly unlikely trusts will over-report trauma.

Update - we will only remove trusts that have trauma rates under 10% as there are only 3 clear cases of misreporting.

These trusts are:
IMPERIAL COLLEGE HEALTHCARE NHS TRUST,
ROYAL FREE LONDON NHS FOUNDATION TRUST,
THE SHREWSBURY AND TELFORD HOSPITAL NHS TRUST

Results:

We have found that the Pearson correlation coefficient is 0.14, with the p-value associated with this being 0.02. As the p-value is lower than 0.05 we reject the mull hypothesis, finding a weak correlation between deprivation and trauma rates

mean_x: 5.058180233511137, mean_y: 64.31040402493487
covariance: 236.2767763568413
std_x: 13.676746245764898, std_y: 119.08114980426666
Pearson correlation coefficient: 0.14507588492112683
P-value: 0.021158937545157963

In [ ]:
import pandas as pd
import glob
import numpy as np
import os
from datetime import datetime
import bokeh
import pandas_bokeh
from bokeh.plotting import figure, output_notebook, show
from bokeh.layouts import column, row
from bokeh.models import ColumnDataSource, HoverTool, LabelSet
from bokeh.transform import cumsum
from bokeh.palettes import Category20c
from math import pi
from IPython.display import FileLink

In [39]:
#Initalises our maternity dataset
pd.set_option('plotting.backend', 'pandas_bokeh')
output_notebook()
file_path = 'C:/NHS maternity data/2023/msds-apr2023-exp-data-final.csv'

df = pd.read_csv(file_path)
df.head()

,ReportingPeriodStartDate,ReportingPeriodEndDate,Dimension,Org_Level,Org_Code,Org_Name,Measure,Count_Of,Final_value
0,01/04/2023,30/04/2023,AgeAtBookingMotherAvg,National,ALL,ALL SUBMITTERS,NaN,Average over women,31
1,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,National,ALL,ALL SUBMITTERS,20 to 24,Women,6525
2,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,National,ALL,ALL SUBMITTERS,25 to 29,Women,13710
3,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,National,ALL,ALL SUBMITTERS,30 to 34,Women,17640
4,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,National,ALL,ALL SUBMITTERS,35 to 39,Women,9895

In [40]:
#Filters dftrusts to only show NHS trusts, removing counties ect.
dftrusts = df[df['Org_Name'].str.contains('trust', case=False, na=False)]

In [41]:
# Define the measures we want to remove
unwanted_measures = [
    "Missing Value / Value outside reporting parameters",
    "Pseudo postcode recorded (includes no fixed abode or resident overseas)",
    "Resident Elsewhere in UK, Channel Islands or Isle of Man"
]
dftrusts.head(100)

,ReportingPeriodStartDate,ReportingPeriodEndDate,Dimension,Org_Level,Org_Code,Org_Name,Measure,Count_Of,Final_value
33452,01/04/2023,30/04/2023,AgeAtBookingMotherAvg,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,NaN,Average over women,31
33453,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,20 to 24,Women,180
33454,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,25 to 29,Women,400
33455,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,30 to 34,Women,525
33456,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,35 to 39,Women,285
...,...,...,...,...,...,...,...,...,...
33547,01/04/2023,30/04/2023,SmokingStatusGroupBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,Non-Smoker / Ex-Smoker,Women,1095
33548,01/04/2023,30/04/2023,SmokingStatusGroupBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,Smoker,Women,95
33549,01/04/2023,30/04/2023,TotalBabies,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,NaN,Babies,1210
33550,01/04/2023,30/04/2023,TotalBookings,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,NaN,Women,1525
33551,01/04/2023,30/04/2023,TotalDeliveries,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,NaN,Women,1195

In [42]:
dftrusts = dftrusts[~dftrusts['Measure'].isin(unwanted_measures)]
dftrusts.head(100)

,ReportingPeriodStartDate,ReportingPeriodEndDate,Dimension,Org_Level,Org_Code,Org_Name,Measure,Count_Of,Final_value
33452,01/04/2023,30/04/2023,AgeAtBookingMotherAvg,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,NaN,Average over women,31
33453,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,20 to 24,Women,180
33454,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,25 to 29,Women,400
33455,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,30 to 34,Women,525
33456,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,35 to 39,Women,285
...,...,...,...,...,...,...,...,...,...
33562,01/04/2023,30/04/2023,ApgarScore5TermGroup7,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,7 to 10,Babies,240
33564,01/04/2023,30/04/2023,BabyFirstFeedBreastMilkStatus,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,Maternal or Donor Breast Milk,Babies,135
33565,01/04/2023,30/04/2023,BabyFirstFeedBreastMilkStatus,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,Not Breast Milk,Babies,135
33566,01/04/2023,30/04/2023,BirthweightTermGroup,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,2000g to 2499g,Babies,10
33567,01/04/2023,30/04/2023,BirthweightTermGroup,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,2500g to 2999g,Babies,40

In [43]:
dftrusts.loc[dftrusts['Dimension'] == 'DeprivationDecileAtBooking', 'Measure'] = (
    dftrusts.loc[dftrusts['Dimension'] == 'DeprivationDecileAtBooking', 'Measure']
    .apply(lambda x: x[:2] if len(x) > 2 else x) 
)
#Removes 'most/least' deprived segments from measure
dftrusts.loc[(dftrusts['Dimension'] == 'DeprivationDecileAtBooking') & (dftrusts['Measure'] == '01'), 'Measure'] = '1'

# Display the modified DataFrame to verify changes
dftrusts.head(100)

,ReportingPeriodStartDate,ReportingPeriodEndDate,Dimension,Org_Level,Org_Code,Org_Name,Measure,Count_Of,Final_value
33452,01/04/2023,30/04/2023,AgeAtBookingMotherAvg,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,NaN,Average over women,31
33453,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,20 to 24,Women,180
33454,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,25 to 29,Women,400
33455,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,30 to 34,Women,525
33456,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,35 to 39,Women,285
...,...,...,...,...,...,...,...,...,...
33562,01/04/2023,30/04/2023,ApgarScore5TermGroup7,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,7 to 10,Babies,240
33564,01/04/2023,30/04/2023,BabyFirstFeedBreastMilkStatus,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,Maternal or Donor Breast Milk,Babies,135
33565,01/04/2023,30/04/2023,BabyFirstFeedBreastMilkStatus,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,Not Breast Milk,Babies,135
33566,01/04/2023,30/04/2023,BirthweightTermGroup,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,2000g to 2499g,Babies,10
33567,01/04/2023,30/04/2023,BirthweightTermGroup,Provider,R0B,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,2500g to 2999g,Babies,40

In [65]:
dftrusts.loc[dftrusts['Dimension'] == 'DeprivationDecileAtBooking', 'Measure'] = (
    dftrusts.loc[dftrusts['Dimension'] == 'DeprivationDecileAtBooking', 'Measure']
    .astype(int)  # Convert to integer
)
dftrusts.head(400)

,ReportingPeriodStartDate,ReportingPeriodEndDate,Dimension,Org_Level,Org_Code,Org_Name,Measure,Count_Of,Final_value
33452,01/04/2023,30/04/2023,AgeAtBookingMotherAvg,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,NaN,Average over women,31
33453,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,20 to 24,Women,180
33454,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,25 to 29,Women,400
33455,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,30 to 34,Women,525
33456,01/04/2023,30/04/2023,AgeAtBookingMotherGroup,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,35 to 39,Women,285
...,...,...,...,...,...,...,...,...,...
33893,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R1H,BARTS HEALTH NHS TRUST,2,Women,370
33894,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R1H,BARTS HEALTH NHS TRUST,3,Women,370
33895,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R1H,BARTS HEALTH NHS TRUST,4,Women,185
33896,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R1H,BARTS HEALTH NHS TRUST,5,Women,75
33897,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R1H,BARTS HEALTH NHS TRUST,6,Women,55

In [45]:
# Filter dftrusts to show only rows where 'Dimension' is 'DeprivationDecileAtBooking'
dfdeprivation = dftrusts[dftrusts['Dimension'] == 'DeprivationDecileAtBooking']

# Display the filtered DataFrame
dfdeprivation.head(100)

,ReportingPeriodStartDate,ReportingPeriodEndDate,Dimension,Org_Level,Org_Code,Org_Name,Measure,Count_Of,Final_value
33485,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,2,Women,260
33486,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,3,Women,180
33487,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,4,Women,150
33488,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,5,Women,110
33489,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,6,Women,90
...,...,...,...,...,...,...,...,...,...
34428,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAE,BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST,1,Women,260
34429,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAE,BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST,10,Women,5
34532,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAJ,MID AND SOUTH ESSEX NHS FOUNDATION TRUST,2,Women,80
34533,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAJ,MID AND SOUTH ESSEX NHS FOUNDATION TRUST,3,Women,120
34534,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAJ,MID AND SOUTH ESSEX NHS FOUNDATION TRUST,4,Women,130

In [46]:
# Sort dfdeprivation by 'Org_Code' and then by 'Measure' in ascending order
dfdeprivation = dfdeprivation.sort_values(by=['Org_Code', 'Measure'])

# Display the sorted DataFrame to verify the sorting
dfdeprivation.head(100)

,ReportingPeriodStartDate,ReportingPeriodEndDate,Dimension,Org_Level,Org_Code,Org_Name,Measure,Count_Of,Final_value
33493,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,1,Women,445
33485,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,2,Women,260
33486,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,3,Women,180
33487,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,4,Women,150
33488,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,R0A,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,5,Women,110
...,...,...,...,...,...,...,...,...,...
34427,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAE,BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST,9,Women,5
34429,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAE,BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST,10,Women,5
34540,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAJ,MID AND SOUTH ESSEX NHS FOUNDATION TRUST,1,Women,65
34532,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAJ,MID AND SOUTH ESSEX NHS FOUNDATION TRUST,2,Women,80
34533,01/04/2023,30/04/2023,DeprivationDecileAtBooking,Provider,RAJ,MID AND SOUTH ESSEX NHS FOUNDATION TRUST,3,Women,120

To calculate our stats, we will take each measure * final value, then divide this by the total final value. This will give us our 'average deprivation' for each trust

In [47]:
# Calculate total deprivation for each Org_Name
dfdeprivation['Total Deprivation'] = dfdeprivation['Measure'] * dfdeprivation['Final_value']
total_deprivation_by_org = dfdeprivation.groupby('Org_Name')['Total Deprivation'].sum()

# Calculate total value for each Org_Name
total_value_by_org = dfdeprivation.groupby('Org_Name')['Final_value'].sum()

# Display intermediate calculations
total_deprivation_by_org

Org_Name
AIREDALE NHS FOUNDATION TRUST                                      950
AIREDALE NHS TRUST                                                 730
ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATION TRUST             1985
BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOSPITALS NHS TRUST    2790
BARNSLEY HOSPITAL NHS FOUNDATION TRUST                             875
                                                                  ...
WIRRAL UNIVERSITY TEACHING HOSPITAL NHS FOUNDATION TRUST          1000
WORCESTERSHIRE ACUTE HOSPITALS NHS TRUST                          2585
WRIGHTINGTON, WIGAN AND LEIGH NHS FOUNDATION TRUST                 790
WYE VALLEY NHS TRUST                                               830
YORK AND SCARBOROUGH TEACHING HOSPITALS NHS FOUNDATION TRUST       225
Name: Total Deprivation, Length: 124, dtype: object

In [48]:
actual_deprivation = total_deprivation_by_org / total_value_by_org
actual_deprivation_df = actual_deprivation.reset_index()
actual_deprivation_df.columns = ['Org_Name', 'Deprivation']

# Display the actual deprivation
actual_deprivation_df.head(100)

                                             Org_Name Deprivation
0                       AIREDALE NHS FOUNDATION TRUST    5.277778
1                                  AIREDALE NHS TRUST    5.214286
2   ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATIO...    7.218182
3   BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOS...    4.292308
4              BARNSLEY HOSPITAL NHS FOUNDATION TRUST    3.723404
..                                                ...         ...
95          THE PRINCESS ALEXANDRA HOSPITAL NHS TRUST    6.424242
96  THE QUEEN ELIZABETH HOSPITAL, KING'S LYNN, NHS...    4.103448
97                 THE ROTHERHAM NHS FOUNDATION TRUST    3.744186
98                  THE ROYAL WOLVERHAMPTON NHS TRUST    3.613208
99      THE SHREWSBURY AND TELFORD HOSPITAL NHS TRUST    5.069767

[100 rows x 2 columns]

We now have our deprivation stats. Now we will Calculate our rates of trauma as a percentage. We will then analyse for an association between the trauma rates and our deprivation rates. Based on this we may analyse for associations between injury rates and other factors.

In [49]:
dftrauma = dftrusts[dftrusts['Dimension'] == 'GenitalTractTraumaticLesionGroup']

# Select only the required columns
dftrauma = dftrauma[['Dimension', 'Org_Name', 'Measure', 'Final_value']]

# Since you want each unique entry under Org_Name, you might consider dropping duplicates if needed
# dftrauma = dftrauma.drop_duplicates(subset=['Org_Name'])

# Display the new DataFrame
dftrauma.head(100)

,Dimension,Org_Name,Measure,Final_value
33511,GenitalTractTraumaticLesionGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,At least one traumatic lesion,255
33512,GenitalTractTraumaticLesionGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,No traumatic lesion reported,390
33617,GenitalTractTraumaticLesionGroup,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,At least one traumatic lesion,170
33618,GenitalTractTraumaticLesionGroup,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,No traumatic lesion reported,30
33724,GenitalTractTraumaticLesionGroup,UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST,At least one traumatic lesion,110
...,...,...,...,...
38471,GenitalTractTraumaticLesionGroup,ST GEORGE'S UNIVERSITY HOSPITALS NHS FOUNDATIO...,At least one traumatic lesion,110
38472,GenitalTractTraumaticLesionGroup,ST GEORGE'S UNIVERSITY HOSPITALS NHS FOUNDATIO...,No traumatic lesion reported,90
38582,GenitalTractTraumaticLesionGroup,SOUTH WARWICKSHIRE UNIVERSITY NHS FOUNDATION T...,At least one traumatic lesion,115
38583,GenitalTractTraumaticLesionGroup,SOUTH WARWICKSHIRE UNIVERSITY NHS FOUNDATION T...,No traumatic lesion reported,30
38681,GenitalTractTraumaticLesionGroup,UNIVERSITY HOSPITALS OF NORTH MIDLANDS NHS TRUST,At least one traumatic lesion,130

In [50]:

# Group by 'Org_Name' and 'Measure', and sum up 'Final_value'
dftrauma2 = dftrauma.groupby(['Org_Name', 'Measure'])['Final_value'].sum().unstack()

# Calculate total Final_value for each Org_Name
dftrauma2['Total'] = dftrauma2.sum(axis=1)

# Display grouped to verify

# Calculate the trauma percentage
dftrauma2['Trauma Percentage'] = (dftrauma2['At least one traumatic lesion'] / dftrauma2['Total']) * 100
columns = dftrauma2.columns.tolist()



# Assign the modified list back to the DataFrame's columns
dftrauma2.columns = columns

# Display to verify
dftrauma2.head(200)

,At least one traumatic lesion,No traumatic lesion reported,Total,Trauma Percentage
Org_Name,,,,
AIREDALE NHS FOUNDATION TRUST,20.0,60.0,80.0,25.000000
AIREDALE NHS TRUST,20.0,55.0,75.0,26.666667
ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATION TRUST,80.0,35.0,115.0,69.565217
"BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOSPITALS NHS TRUST",170.0,140.0,310.0,54.838710
BARNSLEY HOSPITAL NHS FOUNDATION TRUST,85.0,50.0,135.0,62.962963
...,...,...,...,...
WIRRAL UNIVERSITY TEACHING HOSPITAL NHS FOUNDATION TRUST,75.0,60.0,135.0,55.555556
WORCESTERSHIRE ACUTE HOSPITALS NHS TRUST,155.0,70.0,225.0,68.888889
"WRIGHTINGTON, WIGAN AND LEIGH NHS FOUNDATION TRUST",30.0,25.0,55.0,54.545455
WYE VALLEY NHS TRUST,45.0,15.0,60.0,75.000000
YORK AND SCARBOROUGH TEACHING HOSPITALS NHS FOUNDATION TRUST,5.0,170.0,175.0,2.857143

Here we find an example of misreporting. If you look in the dataframe above and sort by trauma percentage ascending you'll find Imperial College Healthcare, Royal Free London NHS foundation trust and Shrewsbury and Telford Hospital report trauma at ridiculously low rates. This data is certainly incorrect. For the others it may be possible that they have such low injury rates as they have such low numbers in their maternity suite.

In [51]:
print("Index:", dftrauma2.index.names)
print("Columns:", dftrauma2.columns)

Index: ['Org_Name']
Columns: Index(['At least one traumatic lesion', 'No traumatic lesion reported',
       'Total', 'Trauma Percentage'],
      dtype='object')

In [52]:
# Reset the index to make 'Org_Name' a column
dftrauma2.reset_index(inplace=True)

# Verify that 'Org_Name' is now a column
print(dftrauma2.columns)

final_df = actual_deprivation_df.merge(dftrauma2[['Org_Name', 'Trauma Percentage']], on='Org_Name', how='left')

# Display the final DataFrame to verify
print(final_df.head())

Index(['Org_Name', 'At least one traumatic lesion',
       'No traumatic lesion reported', 'Total', 'Trauma Percentage'],
      dtype='object')
                                            Org_Name Deprivation  \
0                      AIREDALE NHS FOUNDATION TRUST    5.277778
1                                 AIREDALE NHS TRUST    5.214286
2  ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATIO...    7.218182
3  BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOS...    4.292308
4             BARNSLEY HOSPITAL NHS FOUNDATION TRUST    3.723404

   Trauma Percentage
0          25.000000
1          26.666667
2          69.565217
3          54.838710
4          62.962963

In [53]:
final_df.head(100)

,Org_Name,Deprivation,Trauma Percentage
0,AIREDALE NHS FOUNDATION TRUST,5.277778,25.000000
1,AIREDALE NHS TRUST,5.214286,26.666667
2,ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATIO...,7.218182,69.565217
3,"BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOS...",4.292308,54.838710
4,BARNSLEY HOSPITAL NHS FOUNDATION TRUST,3.723404,62.962963
...,...,...,...
95,THE PRINCESS ALEXANDRA HOSPITAL NHS TRUST,6.424242,61.538462
96,"THE QUEEN ELIZABETH HOSPITAL, KING'S LYNN, NHS...",4.103448,75.000000
97,THE ROTHERHAM NHS FOUNDATION TRUST,3.744186,75.000000
98,THE ROYAL WOLVERHAMPTON NHS TRUST,3.613208,69.767442
99,THE SHREWSBURY AND TELFORD HOSPITAL NHS TRUST,5.069767,8.823529

In [62]:
final_df = final_df[final_df['Trauma Percentage'] >= 27]

The code above drops the data for:
IMPERIAL COLLEGE HEALTHCARE NHS TRUST           2.3%
ROYAL FREE LONDON NHS FOUNDATION TRUST          3.07%   
THE SHREWSBURY AND TELFORD HOSPITAL NHS TRUST   8.52%
SHEFFIELD TEACHING HOSPITALS NHS FOUNDATION TRUST 24% (Very round number?)
AIREDALE NHS FOUNDATION TRUST   25%
AIREDALE NHS TRUST  26.66%
This is due to the exceedingly low rates of reported trauma

In [54]:
#This ruins the correlation code for some reason
# Calculate deciles for trauma percentage
#final_df['Decile'] = pd.qcut(final_df['Trauma Percentage'], 10, labels=False) + 1  # +1 to make deciles start from 1



#final_df['Deprivation'] = pd.to_numeric(final_df['Deprivation'], errors='coerce')
#final_df['Trauma Percentage'] = pd.to_numeric(final_df['Trauma Percentage'], errors='coerce')
#print(final_df['Deprivation'].dtype)
#print(final_df['Trauma Percentage'].dtype)
#final_df.head(100)

In [55]:
def pearson_correlation_debug(x, y):
    n = len(x)
    #mean of x and y
    mean_x = sum(x) / n
    mean_y = sum(y) / n
    #covariance calculation
    covariance = sum((x[i] - mean_x) * (y[i] - mean_y) for i in range(n))
    #standard deviations
    std_x = (sum((x[i] - mean_x) ** 2 for i in range(n)) ** 0.5)
    std_y = (sum((y[i] - mean_y) ** 2 for i in range(n)) ** 0.5)
    print(f"mean_x: {mean_x}, mean_y: {mean_y}")
    print(f"covariance: {covariance}")
    print(f"std_x: {std_x}, std_y: {std_y}")
    # Check for division by zero
    if std_x == 0 or std_y == 0:
        print("One of the standard deviations is zero.")
        return float('nan')  # Return NaN if there is no variability
    # Calculate the Pearson correlation coefficient
    r = covariance / (std_x * std_y)
    return r

In [56]:
def t_distribution_approximation(t, df):
    # A simple approximation for the CDF of the t-distribution
    return (1 + (t ** 2 / df)) ** -0.5  # Simplified approximation

In [57]:
def pearson_correlation_with_pvalue_debug(x, y):
    n = len(x)
    r = pearson_correlation_debug(x, y)
    if r != r:  # Check if r is na
        print("Pearson correlation coefficient is NaN.")
        return r, float('r is nan')
    # t-statistic
    t_stat = r * ((n - 2) / (1 - r ** 2)) ** 0.5
    #approximation for p
    p_value = 2 * (1 - t_distribution_approximation(abs(t_stat), n - 2))
    return r, p_value

In [63]:
final_df = final_df.dropna(subset=['Trauma Percentage'])
x = final_df['Deprivation'].tolist()
y = final_df['Trauma Percentage'].tolist()

r, p_value = pearson_correlation_with_pvalue_debug(x, y)
print("Pearson correlation coefficient:", r)
print("P-value:", p_value)

mean_x: 5.058180233511137, mean_y: 64.31040402493487
covariance: 236.2767763568413
std_x: 13.676746245764898, std_y: 119.08114980426666
Pearson correlation coefficient: 0.14507588492112683
P-value: 0.021158937545157963

As a higher number in deprivation means an area is less deprived, this is interesting. Lets invert our deprivation numbers.

In [64]:
final_df['Inverted Deprivation'] = final_df['Deprivation'].max() - final_df['Deprivation']

# Calculate the Pearson correlation with the inverted values
x = final_df['Inverted Deprivation'].tolist()
y = final_df['Trauma Percentage'].tolist()

r, p_value = pearson_correlation_with_pvalue_debug(x, y)
print("Pearson correlation coefficient (with inverted deprivation):", r)
print("P-value:", p_value)

mean_x: 2.9910000943577155, mean_y: 64.31040402493487
covariance: -236.2767763568412
std_x: 13.6767462457649, std_y: 119.08114980426666
Pearson correlation coefficient (with inverted deprivation): -0.14507588492112675
P-value: 0.021158937545157963

Unfortunately as there is clearly an association now we must find out why. We hypothesise that birth weights and age of mother at birth could have a stronger correlation to trauma, and that in richer areas mothers give birth later (potentially to larger babies?).

In [66]:
df_age_at_booking = dftrusts[dftrusts['Dimension'] == 'AgeAtBookingMotherAvg']
df_age_at_booking = df_age_at_booking[['Org_Name', 'Dimension', 'Final_value']]
print(df_age_at_booking.head())

                                                Org_Name  \
33452         MANCHESTER UNIVERSITY NHS FOUNDATION TRUST
33552  SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...
33659   UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST
33768                            ISLE OF WIGHT NHS TRUST
33860                             BARTS HEALTH NHS TRUST

                   Dimension  Final_value
33452  AgeAtBookingMotherAvg           31
33552  AgeAtBookingMotherAvg           29
33659  AgeAtBookingMotherAvg           31
33768  AgeAtBookingMotherAvg           29
33860  AgeAtBookingMotherAvg           30

In [68]:
final_df_with_age = final_df.merge(df_age_at_booking[['Org_Name', 'Final_value']], on='Org_Name', how='left')

# Step 3: Rename the 'Final_value' column to 'Avg age'
final_df_with_age.rename(columns={'Final_value': 'Avg age'}, inplace=True)

# Display the updated DataFrame to verify
final_df_with_age.head()

,Org_Name,Deprivation,Trauma Percentage,Decile,Inverted Deprivation,Avg age
0,ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATIO...,7.218182,69.565217,7.0,0.830999,31
1,"BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOS...",4.292308,54.838710,3.0,3.756873,30
2,BARNSLEY HOSPITAL NHS FOUNDATION TRUST,3.723404,62.962963,5.0,4.325776,29
3,BARTS HEALTH NHS TRUST,3.22619,36.434109,1.0,4.82299,30
4,BEDFORDSHIRE HOSPITALS NHS FOUNDATION TRUST,5.4,77.586207,10.0,2.64918,31

In [69]:
x = final_df_with_age['Avg age'].tolist()
y = final_df_with_age['Trauma Percentage'].tolist()
r, p_value = pearson_correlation_with_pvalue_debug(x, y)
print("Pearson correlation coefficient:", r)
print("P-value:", p_value)

mean_x: 30.24137931034483, mean_y: 64.15111893276588
covariance: -19.660883759464514
std_x: 11.800058445208863, std_y: 120.49389718214158
Pearson correlation coefficient (with inverted deprivation): -0.01382782345201866
P-value: 0.00019121784248588014

There is a very small relation between age and trauma rates. It is not statistically significant enough to matter. However this seems to show that injury rates go down as age goes up? There could be a miscalculation in my pearson coefficient.

In [83]:
x = final_df_with_age['Avg age'].tolist()
y = final_df_with_age['Deprivation'].tolist()
r, p_value = pearson_correlation_with_pvalue_debug(x, y)
print("Pearson correlation coefficient:", r)
print("P-value:", p_value)

mean_x: 30.24137931034483, mean_y: 5.0613530720860105
covariance: 90.9512168757183
std_x: 11.800058445208863, std_y: 13.681654884505182
Pearson correlation coefficient: 0.5633596324930059
P-value: 0.3475764169228941

The P value is ridiculous but there is likely to be a correlation between deprivation and age.

In [72]:
df_smoking_status = dftrusts[dftrusts['Dimension'] == 'SmokingStatusGroupBooking']
df_smoking_status = df_smoking_status[['Org_Name', 'Dimension', 'Measure', 'Final_value']]
df_smoking_status.head()

,Org_Name,Dimension,Measure,Final_value
33547,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,SmokingStatusGroupBooking,Non-Smoker / Ex-Smoker,1095
33548,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,SmokingStatusGroupBooking,Smoker,95
33654,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,SmokingStatusGroupBooking,Non-Smoker / Ex-Smoker,385
33655,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,SmokingStatusGroupBooking,Smoker,65
33763,UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST,SmokingStatusGroupBooking,Non-Smoker / Ex-Smoker,330

In [75]:
df_smokers = df_smoking_status[df_smoking_status['Measure'] == 'Smoker']
total_final_values = df_smoking_status.groupby('Org_Name')['Final_value'].sum().reset_index()
df_smokers = df_smokers.merge(total_final_values, on='Org_Name', suffixes=('', '_Total'))
df_smokers['Smoker_Percentage'] = (df_smokers['Final_value'] / df_smokers['Final_value_Total']) * 100
df_smokers = df_smokers[['Org_Name', 'Smoker_Percentage']]
df_smokers.head(200)

                                              Org_Name  Smoker_Percentage
0           MANCHESTER UNIVERSITY NHS FOUNDATION TRUST           7.983193
1    SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...          14.444444
2     UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST           9.589041
3                              ISLE OF WIGHT NHS TRUST          18.750000
4                               BARTS HEALTH NHS TRUST           3.930131
..                                                 ...                ...
116              IMPERIAL COLLEGE HEALTHCARE NHS TRUST           4.081633
117   UNIVERSITY HOSPITALS SUSSEX NHS FOUNDATION TRUST           6.569343
118                                 AIREDALE NHS TRUST          11.764706
119  NOTTINGHAM UNIVERSITY HOSPITALS NHS TRUST - CI...          14.285714
120  NOTTINGHAM UNIVERSITY HOSPITALS NHS TRUST - QU...           9.090909

[121 rows x 2 columns]

Let's check for smoking and deprivation, not sure what's going on with chelsea and westminster if you look at the above. 88% smokers in the maternity unit? Nuts. I've just realised I should've made a percentage function, I don't want to rewrite my code so I will write the function below and use it from here on but I will not rewrite previous percentage calculations.

In [90]:
def calculate_percentage(part, total):
    if total == 0:
        return None
    percentage = (part / total) * 100
    return percentage

In [78]:
final_df_with_smokers = final_df_with_age.merge(df_smokers, on='Org_Name', how='left')
final_df_with_smokers.head(200)

,Org_Name,Deprivation,Trauma Percentage,Decile,Inverted Deprivation,Avg age,Smoker_Percentage
0,ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATIO...,7.218182,69.565217,7.0,0.830999,31,9.433962
1,"BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOS...",4.292308,54.838710,3.0,3.756873,30,5.384615
2,BARNSLEY HOSPITAL NHS FOUNDATION TRUST,3.723404,62.962963,5.0,4.325776,29,14.893617
3,BARTS HEALTH NHS TRUST,3.22619,36.434109,1.0,4.82299,30,3.930131
4,BEDFORDSHIRE HOSPITALS NHS FOUNDATION TRUST,5.4,77.586207,10.0,2.64918,31,7.368421
...,...,...,...,...,...,...,...
111,WHITTINGTON HEALTH NHS TRUST,4.114754,55.555556,3.0,3.934426,32,6.451613
112,WIRRAL UNIVERSITY TEACHING HOSPITAL NHS FOUNDA...,4.166667,55.555556,3.0,3.882514,29,10.000000
113,WORCESTERSHIRE ACUTE HOSPITALS NHS TRUST,5.744444,68.888889,7.0,2.304736,30,13.483146
114,"WRIGHTINGTON, WIGAN AND LEIGH NHS FOUNDATION T...",4.514286,54.545455,3.0,3.534895,29,8.571429
115,WYE VALLEY NHS TRUST,5.354839,75.000000,9.0,2.694342,30,10.344828

In [77]:
x = final_df_with_smokers['Avg age'].tolist()
y = final_df_with_smokers['Smoker_Percentage'].tolist()
r, p_value = pearson_correlation_with_pvalue_debug(x, y)
print("Pearson correlation coefficient:", r)
print("P-value:", p_value)

mean_x: 30.24137931034483, mean_y: nan
covariance: nan
std_x: 11.800058445208863, std_y: nan
Pearson correlation coefficient is NaN.
Pearson correlation coefficient: nan
P-value: nan

As we have nan values we will drop these and print which trusts have been dropped

In [80]:
nan_orgs = final_df_with_smokers[final_df_with_smokers['Smoker_Percentage'].isna()]['Org_Name']
print("Organizations with NaN in Smoker_Percentage that will be dropped:")
print(nan_orgs.tolist())
final_df_with_smokers= final_df_with_smokers.dropna(subset=['Smoker_Percentage'])

Organizations with NaN in Smoker_Percentage that will be dropped:
['EAST KENT HOSPITALS UNIVERSITY NHS FOUNDATION TRUST']

East Kent of course, they're permanently misreporting. I'll upload another analysis shortly 'Discharge analysis' where we find a few issues with east kent + Medway

In [81]:
x = final_df_with_smokers['Avg age'].tolist()
y = final_df_with_smokers['Smoker_Percentage'].tolist()
r, p_value = pearson_correlation_with_pvalue_debug(x, y)
print("Pearson correlation coefficient:", r)
print("P-value:", p_value)

mean_x: 30.243478260869566, mean_y: 10.58755871679082
covariance: -209.11280383066998
std_x: 11.797567914432724, std_y: 88.97243337131007
Pearson correlation coefficient: -0.19921987832446325
P-value: 0.04009036934823329

As age increases, rates of smoking decrease slightly.

In [82]:
x = final_df_with_smokers['Inverted Deprivation'].tolist()
y = final_df_with_smokers['Smoker_Percentage'].tolist()
r, p_value = pearson_correlation_with_pvalue_debug(x, y)
print("Pearson correlation coefficient:", r)
print("P-value:", p_value)

mean_x: 2.986569113127019, mean_y: 10.58755871679082
covariance: 167.26188039832192
std_x: 13.680883165448531, std_y: 88.97243337131007
Pearson correlation coefficient: 0.1374128579591307
P-value: 0.018972280388279028

As deprivation increases, so does smoking rates. The correlation is slight but it is of statistical significance. We're hoping for a significant finding at some point here.

We will look at complex social factors compared to smoking and folic acid supplementation, as well as their relation to age and deprivation. We hypothesise an association here. If we do not find one then we're running out of data to run.

We will remove missing values, if a trust has more than 5% missing values for complex social factors they will be removed from the calculation but we will list removed trusts.

In [98]:
df_csf = dftrusts[dftrusts['Dimension'] == 'ComplexSocialFactorsInd']
df_csf_grouped = df_csf.groupby(['Org_Name', 'Measure'])['Final_value'].sum().unstack()
df_csf_grouped['Total'] = df_csf_grouped['N'] + df_csf_grouped['Y'] + df_csf_grouped['Missing Value']
df_csf_grouped['Missing_Percentage'] = df_csf_grouped.apply(lambda row: calculate_percentage(row['Missing Value'], row['Total']), axis=1)
df_csf_grouped['csfpercent'] = df_csf_grouped.apply(lambda row: calculate_percentage(row['Y'], row['N']), axis=1)
df_csf_grouped.loc['Missing_Percentage'] = df_csf_grouped['Missing_Percentage']
df_csf_grouped.reset_index(inplace=True)
df_csf_grouped = df_csf_grouped[['Org_Name', 'csfpercent', 'Missing_Percentage']]
df_csf_grouped.head(110)

Measure,Org_Name,csfpercent,Missing_Percentage
0,AIREDALE NHS FOUNDATION TRUST,5.714286,NaN
1,AIREDALE NHS TRUST,3.846154,NaN
2,ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATIO...,14.583333,NaN
3,"BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOS...",20.370370,NaN
4,BARNSLEY HOSPITAL NHS FOUNDATION TRUST,11.627907,NaN
...,...,...,...
105,UNIVERSITY HOSPITALS BRISTOL AND WESTON NHS FO...,9.677419,NaN
106,UNIVERSITY HOSPITALS COVENTRY AND WARWICKSHIRE...,32.558140,0.869565
107,UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST,10.447761,NaN
108,UNIVERSITY HOSPITALS OF DERBY AND BURTON NHS F...,1.685393,NaN
109,UNIVERSITY HOSPITALS OF LEICESTER NHS TRUST,20.645161,NaN

We're going to get a few more variables ready to process (Ethnicity, delivery method) and from there we can do a multivariate analysis to find some strong associations.

In [101]:
final_df_csfpercent = final_df_with_smokers.merge(df_csf_grouped, on='Org_Name', how='left')

# Display the merged DataFrame to verify
final_df_csfpercent.head()

,Org_Name,Deprivation,Trauma Percentage,Decile,Inverted Deprivation,Avg age,Smoker_Percentage,csfpercent,Missing_Percentage
0,ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATIO...,7.218182,69.565217,7.0,0.830999,31,9.433962,14.583333,NaN
1,"BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOS...",4.292308,54.838710,3.0,3.756873,30,5.384615,20.370370,NaN
2,BARNSLEY HOSPITAL NHS FOUNDATION TRUST,3.723404,62.962963,5.0,4.325776,29,14.893617,11.627907,NaN
3,BARTS HEALTH NHS TRUST,3.22619,36.434109,1.0,4.82299,30,3.930131,49.704142,0.393701
4,BEDFORDSHIRE HOSPITALS NHS FOUNDATION TRUST,5.4,77.586207,10.0,2.64918,31,7.368421,46.969697,NaN

In [102]:
df_ethnic_category = dftrusts[dftrusts['Dimension'] == 'EthnicCategoryMotherGroup']

# Step 2: Select the relevant columns: 'Dimension', 'Org_Name', 'Measure', and 'Final_value'
df_ethnic_category = df_ethnic_category[['Dimension', 'Org_Name', 'Measure', 'Final_value']]

# Step 3: Display the new DataFrame to verify
df_ethnic_category.head()

,Dimension,Org_Name,Measure,Final_value
33497,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,Any other ethnic group,65
33498,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,Asian or Asian British,290
33499,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,Black or Black British,165
33501,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,Mixed,60
33502,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,Not Stated,45

Doing one-hot encoding so that we can add these variables to a multivariable analysis as they are non-numeric,  variables, we will do the same for method of birth. Once we've done this we'll chuck all our data into

In [105]:
df_encoded = pd.get_dummies(df_ethnic_category, columns=['Measure'])

# Display the first few rows to verify
df_encoded.head(50)

,Dimension,Org_Name,Final_value,Measure_Any other ethnic group,Measure_Asian or Asian British,Measure_Black or Black British,Measure_Mixed,Measure_Not Stated,Measure_Not known,Measure_White
33497,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,65,True,False,False,False,False,False,False
33498,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,290,False,True,False,False,False,False,False
33499,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,165,False,False,True,False,False,False,False
33501,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,60,False,False,False,True,False,False,False
33502,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,45,False,False,False,False,True,False,False
33503,EthnicCategoryMotherGroup,MANCHESTER UNIVERSITY NHS FOUNDATION TRUST,680,False,False,False,False,False,False,True
33601,EthnicCategoryMotherGroup,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,10,True,False,False,False,False,False,False
33602,EthnicCategoryMotherGroup,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,10,False,True,False,False,False,False,False
33603,EthnicCategoryMotherGroup,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,25,False,False,True,False,False,False,False
33604,EthnicCategoryMotherGroup,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,5,False,False,False,True,False,False,False
33605,EthnicCategoryMotherGroup,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,5,False,False,False,False,False,True,False
33606,EthnicCategoryMotherGroup,SOUTH TYNESIDE AND SUNDERLAND NHS FOUNDATION T...,420,False,False,False,False,False,False,True
33707,EthnicCategoryMotherGroup,UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST,10,True,False,False,False,False,False,False
33708,EthnicCategoryMotherGroup,UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST,10,False,True,False,False,False,False,False
33709,EthnicCategoryMotherGroup,UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST,15,False,False,True,False,False,False,False
33710,EthnicCategoryMotherGroup,UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST,15,False,False,False,True,False,False,False
33711,EthnicCategoryMotherGroup,UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST,5,False,False,False,False,True,False,False
33712,EthnicCategoryMotherGroup,UNIVERSITY HOSPITALS DORSET NHS FOUNDATION TRUST,315,False,False,False,False,False,False,True
33810,EthnicCategoryMotherGroup,ISLE OF WIGHT NHS TRUST,5,True,False,False,False,False,False,False
33811,EthnicCategoryMotherGroup,ISLE OF WIGHT NHS TRUST,5,False,True,False,False,False,False,False
33812,EthnicCategoryMotherGroup,ISLE OF WIGHT NHS TRUST,75,False,False,False,False,False,False,True
33905,EthnicCategoryMotherGroup,BARTS HEALTH NHS TRUST,65,True,False,False,False,False,False,False
33906,EthnicCategoryMotherGroup,BARTS HEALTH NHS TRUST,645,False,True,False,False,False,False,False
33907,EthnicCategoryMotherGroup,BARTS HEALTH NHS TRUST,140,False,False,True,False,False,False,False
33908,EthnicCategoryMotherGroup,BARTS HEALTH NHS TRUST,25,False,False,False,True,False,False,False
33909,EthnicCategoryMotherGroup,BARTS HEALTH NHS TRUST,70,False,False,False,False,True,False,False
33910,EthnicCategoryMotherGroup,BARTS HEALTH NHS TRUST,320,False,False,False,False,False,False,True
34012,EthnicCategoryMotherGroup,LONDON NORTH WEST UNIVERSITY HEALTHCARE NHS TRUST,25,True,False,False,False,False,False,False
34013,EthnicCategoryMotherGroup,LONDON NORTH WEST UNIVERSITY HEALTHCARE NHS TRUST,220,False,True,False,False,False,False,False
34014,EthnicCategoryMotherGroup,LONDON NORTH WEST UNIVERSITY HEALTHCARE NHS TRUST,30,False,False,True,False,False,False,False
34015,EthnicCategoryMotherGroup,LONDON NORTH WEST UNIVERSITY HEALTHCARE NHS TRUST,5,False,False,False,True,False,False,False
34016,EthnicCategoryMotherGroup,LONDON NORTH WEST UNIVERSITY HEALTHCARE NHS TRUST,120,False,False,False,False,False,False,True
34113,EthnicCategoryMotherGroup,ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST,5,True,False,False,False,False,False,False
34114,EthnicCategoryMotherGroup,ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST,30,False,True,False,False,False,False,False
34115,EthnicCategoryMotherGroup,ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST,5,False,False,True,False,False,False,False
34116,EthnicCategoryMotherGroup,ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST,5,False,False,False,True,False,False,False
34117,EthnicCategoryMotherGroup,ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST,25,False,False,False,False,True,False,False
34118,EthnicCategoryMotherGroup,ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST,230,False,False,False,False,False,False,True
34223,EthnicCategoryMotherGroup,UNIVERSITY HOSPITALS BRISTOL AND WESTON NHS FO...,5,False,False,False,False,True,False,False
34224,EthnicCategoryMotherGroup,UNIVERSITY HOSPITALS BRISTOL AND WESTON NHS FO...,5,False,False,False,False,False,False,True
34327,EthnicCategoryMotherGroup,TORBAY AND SOUTH DEVON NHS FOUNDATION TRUST,5,True,False,False,False,False,False,False
34328,EthnicCategoryMotherGroup,TORBAY AND SOUTH DEVON NHS FOUNDATION TRUST,5,False,True,False,False,False,False,False
34329,EthnicCategoryMotherGroup,TORBAY AND SOUTH DEVON NHS FOUNDATION TRUST,5,False,False,True,False,False,False,False
34330,EthnicCategoryMotherGroup,TORBAY AND SOUTH DEVON NHS FOUNDATION TRUST,5,False,False,False,True,False,False,False
34331,EthnicCategoryMotherGroup,TORBAY AND SOUTH DEVON NHS FOUNDATION TRUST,175,False,False,False,False,False,False,True
34431,EthnicCategoryMotherGroup,BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST,30,True,False,False,False,False,False,False
34432,EthnicCategoryMotherGroup,BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST,260,False,True,False,False,False,False,False
34433,EthnicCategoryMotherGroup,BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST,30,False,False,True,False,False,False,False
34434,EthnicCategoryMotherGroup,BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST,5,False,False,False,True,False,False,False
34435,EthnicCategoryMotherGroup,BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST,5,False,False,False,False,False,True,False